*{
    padding:0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 100%

    }

body{
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main{
    height: 450px;
    width: 600px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    border-radius: 10px;
    
}

.img{
    flex:0.5;
    background-image:url(./images/image-product-desktop.jpg);
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    width: 100%;
    flex-direction: column;

}

.inner-div-right{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}

h2{
    font-weight: 200;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 10px 20px;
    color:hsl(228, 12%, 48%);
    font-size: 0.8rem;
          
}

button{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    outline-color: none;
    border: none;
    margin: 10px 20px 20px 10px;
    padding: 15px 8px;
    border-radius: 7px;
    width: 240px;
    cursor: pointer;
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.cart{
    padding-left: 10px;
    font-size: 1rem;
    }

.price{
    display: flex;
    margin: 10px 20px;
    
    }
h1{
    padding: 10px 20px;
    color: hsl(212, 21%, 14%);
    margin: 0px 20px;
    font-weight: 800;
    font-size: 2rem;
    
}

p{
    color:hsl(228, 12%, 48%) ;
    padding-left: 0px;
    padding: 0px 20px;
    margin: 10px 20px;
    font-size: 0.9rem;
    line-height: 25px;

}

h4{
    color: hsl(228, 12%, 48%);
    font-size: 1rem;
    }

h3{
    color:hsl(158, 36%, 37%); 
    font-size: 1.5rem;
    padding: 0px 20px;
}

@media only screen and (max-width: 500px) {
    html{
        width: 100%;
        height: 100vh;
    }
    body{
        display: flex;
        flex-direction: column !important;
        height: 100vh;
        justify-content: center;
        margin-top: 1px;
        margin-bottom: 1px;
        align-items: flex-start;  
        width:100vw;      
       
      }
    .main{
        align-items: flex-start;
        height: 100vh;
        width: 100vw;
        background: linear-gradient(180 deg,hsl(30, 38%, 92%) );
        display: flex;
        flex-direction: column !important;
        margin: 0 !important;
        
        
    }
    .img{       
        image-resolution: downward;
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 100vh;
        background-image: url(./images/image-product-mobile.jpg);
        flex-direction: column;
        margin: 0 !important;
     }

    .inner-div-right{
        padding:20px 0px;
    }
    .inner-div-right> h3{
        letter-spacing: 7px;
        border-radius: 0px 0px 10px 10px;
    }
    h2{
        font-size: 1em;
         }
    h3{
        font-size: 1.5em;
        }

        

}
